In [7]:
import pandas as pd

df = pd.read_csv('Boone.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85957 entries, 0 to 85956
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    85957 non-null  object
 1   placename   85957 non-null  object
 2   usaf        85957 non-null  int64
 3   wban        85957 non-null  int64
 4   air_temp    85529 non-null  float64
 5   dew_point   85520 non-null  float64
 6   pressure    0 non-null      float64
 7   wind_dir    85309 non-null  float64
 8   wind_spd    85308 non-null  float64
 9   sky_cond    58979 non-null  float64
 10  precip_1hr  7269 non-null   float64
dtypes: float64(7), int64(2), object(2)
memory usage: 7.2+ MB

In [8]:
df['datetime'] = pd.to_datetime(df['datetime'])

df

,datetime,placename,usaf,wban,air_temp,dew_point,pressure,wind_dir,wind_spd,sky_cond,precip_1hr
0,2010-01-01 00:00:00+00:00,Boone,722198,63819,7.0,5.0,NaN,270.0,2.6,8.0,NaN
1,2010-01-01 01:00:00+00:00,Boone,722198,63819,5.0,4.0,NaN,280.0,4.6,8.0,NaN
2,2010-01-01 02:00:00+00:00,Boone,722198,63819,5.0,4.0,NaN,280.0,4.6,8.0,NaN
3,2010-01-01 04:00:00+00:00,Boone,722198,63819,4.0,2.0,NaN,290.0,7.7,8.0,NaN
4,2010-01-01 05:00:00+00:00,Boone,722198,63819,4.0,2.0,NaN,280.0,7.7,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
85952,2020-12-31 19:00:00+00:00,Boone,722198,63819,14.0,6.5,NaN,300.0,5.1,NaN,NaN
85953,2020-12-31 20:00:00+00:00,Boone,722198,63819,12.8,6.7,NaN,300.0,3.1,NaN,NaN
85954,2020-12-31 21:00:00+00:00,Boone,722198,63819,13.0,6.6,NaN,0.0,0.0,NaN,NaN
85955,2020-12-31 22:00:00+00:00,Boone,722198,63819,12.5,6.4,NaN,0.0,0.0,NaN,NaN
85956,2020-12-31 23:00:00+00:00,Boone,722198,63819,8.8,5.8,NaN,0.0,0.0,NaN,NaN

In [9]:
df = df[df['placename'] == 'Boone'].drop('placename', axis = 1)
df = df[df['usaf'] == 722198].drop('usaf', axis = 1)
df = df[df['wban'] == 63819].drop('wban', axis = 1)
df = df.drop('pressure', axis = 1)

df

,datetime,air_temp,dew_point,wind_dir,wind_spd,sky_cond,precip_1hr
0,2010-01-01 00:00:00+00:00,7.0,5.0,270.0,2.6,8.0,NaN
1,2010-01-01 01:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
2,2010-01-01 02:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
3,2010-01-01 04:00:00+00:00,4.0,2.0,290.0,7.7,8.0,NaN
4,2010-01-01 05:00:00+00:00,4.0,2.0,280.0,7.7,8.0,NaN
...,...,...,...,...,...,...,...
85952,2020-12-31 19:00:00+00:00,14.0,6.5,300.0,5.1,NaN,NaN
85953,2020-12-31 20:00:00+00:00,12.8,6.7,300.0,3.1,NaN,NaN
85954,2020-12-31 21:00:00+00:00,13.0,6.6,0.0,0.0,NaN,NaN
85955,2020-12-31 22:00:00+00:00,12.5,6.4,0.0,0.0,NaN,NaN
85956,2020-12-31 23:00:00+00:00,8.8,5.8,0.0,0.0,NaN,NaN

In [10]:
df = df.rename(columns = {'air_temp':'AirTemp', 'dew_point':'DewPoint', 'wind_dir':'WindDiretion', 'wind_spd':'WindSpeed','sky_cond':'SkyCond', 'datetime': 'DateTime', 'precip_1hr':'Precip_1HR'})

df

,DateTime,AirTemp,DewPoint,WindDiretion,WindSpeed,SkyCond,Precip_1HR
0,2010-01-01 00:00:00+00:00,7.0,5.0,270.0,2.6,8.0,NaN
1,2010-01-01 01:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
2,2010-01-01 02:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
3,2010-01-01 04:00:00+00:00,4.0,2.0,290.0,7.7,8.0,NaN
4,2010-01-01 05:00:00+00:00,4.0,2.0,280.0,7.7,8.0,NaN
...,...,...,...,...,...,...,...
85952,2020-12-31 19:00:00+00:00,14.0,6.5,300.0,5.1,NaN,NaN
85953,2020-12-31 20:00:00+00:00,12.8,6.7,300.0,3.1,NaN,NaN
85954,2020-12-31 21:00:00+00:00,13.0,6.6,0.0,0.0,NaN,NaN
85955,2020-12-31 22:00:00+00:00,12.5,6.4,0.0,0.0,NaN,NaN
85956,2020-12-31 23:00:00+00:00,8.8,5.8,0.0,0.0,NaN,NaN

In [14]:
missing_data_percent = (df.isna().sum() / len(df)) * 100
print(missing_data_percent)

DateTime         0.000000
AirTemp          0.497923
DewPoint         0.508394
WindDiretion     0.753865
WindSpeed        0.755029
SkyCond         31.385460
Precip_1HR      91.543446
dtype: float64

In [15]:
round(df.corr(),2)

              AirTemp  DewPoint  WindDiretion  WindSpeed  SkyCond  Precip_1HR
AirTemp          1.00      0.84         -0.07      -0.22     0.01        0.12
DewPoint         0.84      1.00         -0.27      -0.37     0.17        0.14
WindDiretion    -0.07     -0.27          1.00       0.79     0.02        0.02
WindSpeed       -0.22     -0.37          0.79       1.00     0.04        0.04
SkyCond          0.01      0.17          0.02       0.04     1.00        0.14
Precip_1HR       0.12      0.14          0.02       0.04     0.14        1.00

In [16]:
df.to_csv('boone_clean.csv', index = False)